.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.crossOut{
  -webkit-text-decoration-line: line-through; /* Safari */
   text-decoration-line: line-through; 
}

.button{
  color: black;
}

h1{
  padding: 35px;
  font-size: 70px;
  font-family: 'Bree Serif', serif;
}

body{
  background-color: #d4a737;
  background-image: url("crisp-paper-ruffles.png")
}

header{
  border: 2px solid black; 
  background-color: #DBC07B;
  text-align: center;
}

.container {
  width: 960px;
  background-color: white;
  padding: 25px;
  margin: auto auto;
  border: 2px solid black;
}

.textBox {
  width: 600px;
  height: 30px;
  font-family: 'Bree Serif', serif;
  /* margin-left: 175px; */
}

.center{
  text-align: center;
}

.addItem{
  margin: auto auto;
  font-family: 'Bree Serif', serif;
  text-align: center;
  font-size: 25px;
}


.label{
  text-align: center;
  font-family: 'Bree Serif', serif;
  font-size:50px;
}

.current{
  font-size: 30px;
  font-family: 'Bree Serif', serif;
  text-align: center;
}

.todoList {
  font-size: 25px;
  text-decoration: underline; 
  font-family: 'Bree Serif', serif;
  text-align: center;
}

.listItems{
  font-size: 25px;
  font-family: 'Bree Serif', serif;
  text-align: center;
}

@media only screen and (max-width: 600px){
  .container{
    width: 100%;
    padding: 0px;
  }

  .center{
    width: 100%;
  }
}